# Copiar este 'env.example' a un archivo .env usado por spring-dotenv sólo
# en tiempo de ejecución y por compose.yml para la configuración de docker-compose
#
# Reemplazar con tus propios valores
# Spring boot configuración
DB_HOST = postgres:5432
DB_NAME = thankful-mesagges
DB_USER = thankful
DB_PASS = messages
PORT=59376

# No modificar lo siguiente
# Docker configuración
POSTGRES_DB=${DB_NAME}
POSTGRES_USER=${DB_USER}
POSTGRES_PASSWORD=${DB_PASS}
